body{
    font-family: 'Oswald', sans-serif;
    background-image: url("my images/gray.jpg");
    background-size: cover;
    
}
.name-color{
    color: coral;
    text-shadow: black 1px 1px 0px;
}
.p-color{
    color: rgb(255, 255, 255);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(253, 128, 116), rgb(255, 97, 70));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    text-shadow: #000000 1px 1px 0px;
}

.one-pic{
    width: 130%;
    padding-top: 5%;
    margin-left: -20px;
}
.row{

    width: 40%;
    float: left;
    
    
}
.pot{
    margin-left: 3%;
    padding-left: 3%;
    padding-top: 4%;
}
.two-pic{
    width: 100%;
    margin-left: -57px;
    margin-top: -20px;
}

.toppot{
    margin-left: 10%;
    padding-left: 3%;
    padding-top: 4%;
}

.download{

    width: 3%;
    -webkit-filter: drop-shadow( #000000 1px 1px 0px);
}
.w-bg{
    text-shadow: floralwhite 1px 1px 0px;
}

.blast{

    margin-top: 10%;
}
.bl{
    float: left;
    width: 30%;
    border: 2px solid red;
    margin-left: 2px;
    padding-left: 2%;
    height: 80%;
   
   

}
.same{

    width: 80%;
   
}
.gd{
    margin-left: 12%;
}
